<div class="index">
  <section class="slider">
    <ul class="rslides">
      <li>
        <div id="rslides_item1" class="item">
          <div class="container description">
            <h1>Želite da outsorsujete vaš posao ne</h1>
            <h1>razmišljajući o kontroli kvaliteta i</h1>
            <h1>rokovima, skraćujući troškove?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            <br>enim ad minim veniam quis nostrud exercitation ullamco laboris nisi</p>
          </div>
        </div>
      </li>
      <li>
        <div id="rslides_item2" class="item">
          <div class="container description">
            <h1>Zašto mi?</h1>
          </div>
        </div>
      </li>
      <li>
        <div id="rslides_item3" class="item">
          <div class="container description">
            <h1>Work process</h1>
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip<br>aute irure dolor in reprehenderit in voluptate velit esse<br>sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </li>
      <li>
        <div id="rslides_item4" class="item">
          <div class="container description orange">
            <h1>Techonology and solution</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore<br>magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>
      </li>
      <li>
        <div id="rslides_item5" class="item">
          <div class="container description blue">
            <h1>Service price list</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </section>

  <section class="packages">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="portlet">
            <div class="portlet-heading">
              <div class="portlet-title">
                <h3>dizajn & branding</h3>
              </div>
            </div>
            <div class="portlet-body">
              <div class="main">
                <h5>PORTFOLIO PACKAGE</h5>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
              </div>
              <hr>
              <p>strating form</p>
              <p class="price">500€</p>
            </div>
            <div class="hover">
              <div class="circle">
                <a class="hover_link" href="#">choose</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="portlet">
            <div class="portlet-heading">
              <div class="portlet-title">
                <h3>template web site</h3>
              </div>
            </div>
            <div class="portlet-body">
              <div class="main">
                <h5>PRESENTATION PACKAGE</h5>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
              </div>
              <hr>
              <p>strating form</p>
              <p class="price">1000€</p>
            </div>
            <div class="hover">
              <div class="circle">
                <a class="hover_link" href="#">choose</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="portlet">
            <div class="portlet-heading">
              <div class="portlet-title">
                <h3>unique <br>web site</h3>
              </div>
            </div>
            <div class="portlet-body">
              <div class="main">
                <h5>PORTFOLIO PACKAGE</h5>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
              </div>
              <hr>
              <p>strating form</p>
              <p class="price">5000€</p>
            </div>
            <div class="hover">
              <div class="circle">
                <a class="hover_link" href="#">choose</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="portlet">
            <div class="portlet-heading">
              <div class="portlet-title">
                <h3>mobile application</h3>
              </div>
            </div>
            <div class="portlet-body">
              <div class="main">
                <h5>SIMPLE APPLICATION</h5>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
              </div>
              <hr>
              <p>strating form</p>
              <p class="price">4000€</p>
            </div>
            <div class="hover">
              <div class="circle">
                <a href="#">choose</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="all_packages" href="#">pogledaj sve pakete <i class="fa fa-angle-right"></i></a>
      <div class="timetable col-sm-10 col-sm-offset-1">
        <p>Pogledajte satnice naših profesionalaca</p>
      </div>
    </div>
  </section>

  <section class="why_as">
    <div class="container">
      <h2>Zašto mi?</h2>
      <div class="col-sm-6">
        <div class="cause">
          <div class="col-sm-3">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#synk-refresh-rotate"></use>
              </svg>
            </div>
          </div>
          <div class="col-sm-9">
            <h5>Full service agencija</h5>
            <p>...It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cause">
          <div class="col-sm-3">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#design"></use>
              </svg>
            </div>
          </div>
          <div class="col-sm-9">
            <h5>Dizajn standardi</h5>
            <p>...It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cause">
          <div class="col-sm-3">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#synk-refresh-rotate"></use>
              </svg>
            </div>
          </div>
          <div class="col-sm-9">
            <h5>10 godina postojanja</h5>
            <p>...It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cause">
          <div class="col-sm-3">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#check"></use>
              </svg>
            </div>
          </div>
          <div class="col-sm-9">
            <h5>100% satisfaction</h5>
            <p>...It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="cause">
          <div class="col-sm-3">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#alarm-clock"></use>
              </svg>
            </div>
          </div>
          <div class="col-sm-9">
            <h5>On time on budget</h5>
            <p>...It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cause">
          <div class="col-sm-3">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#lock-locker"></use>
              </svg>
            </div>
          </div>
          <div class="col-sm-9">
            <h5>Štitimo interese klijenata</h5>
            <p>...It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cause">
          <div class="col-sm-3">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#user"></use>
              </svg>
            </div>
          </div>
          <div class="col-sm-9">
            <h5>Jedna od najvećih</h5>
            <p>...It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cause">
          <div class="col-sm-3">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <use xlink:href="#speech"></use>
              </svg>
            </div>
          </div>
          <div class="col-sm-9">
            <h5>Great support</h5>
            <p>...It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_us">
    <div class="container">  
      <ul class="nav navbar-nav">
        <li>
          <a href="#"><i class="fa fa-user"></i> O NAMA</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-cog"></i> USLUGE</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-pencil"></i> PROJKETI</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-envelope"></i> CONTACT US</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-chevron-right"></i> www.bild-studio.com</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="clients">
    <div class="container">
      <div class="wrapper col-sm-12">  
        <h4  class="title">KLIJENTI I PARTNERI</h4>
        <div class="line col-sm-12"></div>
      </div>

      <table class="table">
        <tr>
          <td>
            <a href="#">
              <img src="/assets/partner.jpg">
              <h5>MINISTARSTVO NAUKE CRNE GORE</h5>
            </a>
          </td>
          <td>
            <a href="#">
              <img src="/assets/partner.jpg">
              <h5>ELEKTROPRIVREDA CRNE GORE</h5>
            </a>
          </td>
          <td>
            <a href="#">
              <img src="/assets/partner.jpg">
              <h5>MICROSOFT</h5>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">
              <img src="/assets/partner.jpg">
              <h5>VENOM</h5>
            </a>
          </td>
          <td>
            <a href="#">
              <img src="/assets/partner.jpg">
              <h5>VLADA CRNE GORE</h5>
            </a>
          </td>
          <td>
            <a href="#">
              <img src="/assets/partner.jpg">
              <h5>MINISTARSTVO EKONOMIJE</h5>
            </a>
          </td>
        </tr>
      </table>

      <a class="all_clients" href="#">pogledaj sve klijente <i class="fa fa-angle-right"></i></a>
      <div class="clearfix"></div>

      <div class="brackets">
        <div class="bracket_right25 col-sm-6">
          <div class="basic_bottom bottom_left"></div>
        </div>
        <div class="bracket_left25 col-sm-6">
          <div class="basic_bottom bottom_right"></div>
        </div>
        <div class="bracket_left25 col-sm-6">
          <div class="basic_top top_right"></div>
        </div>
        <div class="bracket_right25 col-sm-6">
          <div class="basic_top top_left"></div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="testimonials">
        <h4>ŠTA KAŽU NAŠI KLIJENTI</h4>
        <div class="row">  
          <div class="col-sm-4">
            <div class="img col-sm-3">
              <img src="/assets/he_user.png">
            </div>
            <div class="col-sm-9">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <h5>Dejan Milić, izvršni direktor, Simes inženjering</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="img col-sm-3">
              <img src="/assets/she_user.png">
            </div>
            <div class="col-sm-9">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <h5>Jovana Janjušević, Programme Assistant, Green Home</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="img col-sm-3">
              <img src="/assets/he_user.png">
            </div>
            <div class="col-sm-9">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <h5>Boris Darmanović, Direktor, Dnevne novine</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>