<div class="index">
  <section class="slider">
    <ul class="rslides">
      <li>
        <div id="rslides_item1" class="item">
          <div class="container description">
            <h1>Zelite da outsorsujete vas posao ne</h1>
            <h1>razmisljajuci o kontroli kvaliteta i</h1>
            <h1>rokovima, skracujuci troskove?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            <br>enim ad minim veniam quis nostrud exercitation ullamco laboris nisi</p>
          </div>
        </div>
      </li>
      <li>
        <div id="rslides_item2" class="item">
          <div class="container description">
            <h1>Zasto mi?</h1>
          </div>
        </div>
      </li>
      <li>
        <div id="rslides_item3" class="item">
          <div class="container description">
            <h1>Work process</h1>
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip<br>aute irure dolor in reprehenderit in voluptate velit esse<br>sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </li>
      <li>
        <div id="rslides_item4" class="item">
          <div class="container description orange">
            <h1>Techonology and solution</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore<br>magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>
      </li>
      <li>
        <div id="rslides_item5" class="item">
          <div class="container description blue">
            <h1>Service price list</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </section>
</div>