<div class="package">
  <section class="tabs">
    <div class="container">
      <ul>
        <li class="active col-sm-4">
          <a href="#">Service package</a>
        </li>
        <li class="col-sm-4">
          <a href="#">Dedicated team prices</a>
        </li>
        <li class="col-sm-4">
          <a href="#">Service price list</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="template">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h1>Template website - shoose solution</h1>
          <p>Working with us on reatiner will save you tons of time, money and more importantly, give ypu the best professional team you can find. More importantly, give ypu the best professional team you can find.</p>
        </div>
        <div class="all col-sm-2">
          <a href="#"><i class="fa fa-th fa-3x"></i><br> All service packages</a>
          <p></p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
</div>