.no-padding {
  padding: 0px;
}
.no-padding-left {
  padding-left: 0px;
}
.no-margin {
  margin: 0px;
}
.col_lightblue {
  color: #35B7F3;
}
.col_blue {
  color: #009ae2;
}
.col_darkblue {
  color: #00608c;
}
.col_orange {
  color: #f8a01a;
}
.col_lightgrey {
  color: #bbbbbb;
}