.no-padding {
  padding: 0px !important;
}
.no-padding-left {
  padding-left: 0px;
}
.no-margin {
  margin: 0px !important;
}
.col_lightblue {
  color: #35B7F3;
}
.col_blue {
  color: #009ae2;
}
.col_darkblue {
  color: #00608c;
}
.col_orange {
  color: #f8a01a;
}
.col_lightgray {
  color: #bbbbbb;
}
.btn {
  border-radius: 0px;
  &:focus {
    outline: none;
    -webkit-box-shadow: none
  }
}
.btn-orange {
  background-color: #f8a01a;
  color: #ffffff;
  &:hover, &:focus {
    background-color: #f8a01a;
    color: #ffffff;
  }
}
.btn-orange-o {
  background-color: #ffffff;
  color: #f8a01a;
  border: 1px solid #f8a01a;
  
  &:hover, &:focus {
    background-color: #ffffff;
    color: #f8a01a;
    border: 1px solid #f8a01a;
  }
}
.back_col_gray {
  background-color: #e6e6e6;
}

.no-border-radius {
  border-radius: 0px;
}

.nav-tabs {
  li {
    position: relative;
    a {
      border-radius: 0px;
      margin: 0px;
      border: none;
    }
    &.active {
      a {
        border: none;
        border-bottom-style: transparent;
        &:hover {
          border: none;
        }
      }
    }
  }
}
