body {
  font-family: "Ubuntu";
  color: #767676;
}

.container {
  width: 980px;
  padding: 0px;
}

header {
  width: 100%;
  background-color: $headerblue;
  
  .nav {
    li a {
      color: white;
    }
    li:last-child a {
      color: #3495c0;
    }
    li a:hover, li a:focus {
      background-color: #013751;
      color: white;
    }
    .active a {
      background-color: #0099e1;
      color: $headerblue;
      &:hover {
        background-color: #0099e1;
        color: $headerblue;
      }
    }
    li:first-child.active a {
      background-color: $headerblue !important;
      color: white !important;
    }
    li:last-child.active a {
      color: $headerblue !important;
    }

  }

  .logo {
    a {
      line-height: 50px;

      img {
        width: 140px;
      }
    }  
  }
}