#order_now {
  .tabs {
    @include tabs;
  }

  #choose_panel  {
    background-color: #e6e6e6;
    padding: 50px 0px;

    .row {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .portlet {
      @include portlet;
    }
  }

  #select_panel {
    .template_web {
      @include template_web;
    }

    #table {
      @include table;
    }
  }
}