.package {
  .tabs {
    background-color: #0099e1;

    ul {
      list-style-type: none;
      padding: 0px;
      text-align: center;
      
      li {
        padding: 2px 0px 5px;
        a {
          color: $darkblue;
        }
      }
      
      li.active {
        background-color: #00608c;
        a {
          color: #ffffff;
        }
      } 
    }  
  }

  .template {
    h1 {
      color: $orange;
      font-weight: bold;
      font-style: italic;
    }
    .row {
      height: 120px;
    }
    .all {
      height: 100%;
      border-left: 1px solid #d6d6d6;
      border-right: 1px solid #d6d6d6;
      padding-top: 25px;

      a {
        color: #767676;
        text-align: center;

        i {
          margin-left: 40px;
          margin-bottom: 15px;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}