<div id="choose_add_panel">
  <section id="title">
    <div class="container">
      <h1>Choose additional services</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
    </div>
  </section>

  <section id="add_form">
    <div class="container">
      <div class="title">

      <div id="choose_form">
        
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="col-sm-4 active">
            <a href="#tehnology" role="tab" data-toggle="tab">Tehnology services</a>
          </li>
          <li class="col-sm-4" role="presentation">
            <a href="#desing" role="tab" data-toggle="tab">Design & UX services</a>
          </li>
          <li class="col-sm-4" role="presentation">
            <a href="#marketing" role="tab" data-toggle="tab">Marketing & SEO services </a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tehnology">
            <div class="check_list">
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Mobilna aplikacija <span>35e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Responsive tema <span>200e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Tema za mobilne uredjaje <span>30e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Hosting <span>200e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Mail server <span>100e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Odrzavanje servera <span>100e</span>
                  </label>
                </div>
                
              </div>
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Odrzavanje softvera CMS-a <span>100e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Phone, mail & skype tehnicka podrska <span>100e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Blog / Forum wiki sistem <span>100e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> Newsletter coding <span>100e</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input class="input_class_checkbox" type="checkbox"> SSL <span>100e</span>
                  </label>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form">
              <div class="col-sm-7">
                <form role="form">
                  <div class="form-group">
                    <label for="other_services">Other services (services that are not offred in the list)</label>
                    <textarea class="form-control" rows="5" id="ohter_services"></textarea>
                    <btn class="btn no-border-radius btn-orange-o" type="submit">Submit service</btn>
                    <btn class="btn no-border-radius btn-orange-o">add more</btn>
                  </div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>    
          </div>
          <div role="tabpanel" class="tab-pane" id="design">
          </div>
          <div role="tabpanel" class="tab-pane" id="marketing">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <a class="btn no-border-radius btn-orange">Next step <i class="fa fa-angle-right"></i></a>

    </div>
  </section>
</div>