<div id="choose_panel">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div class="portlet">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h3>dizajn & branding</h3>
            </div>
          </div>
          <div class="portlet-body">
            <div class="main">
              <h5>PORTFOLIO PACKAGE</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
            </div>
            <hr>
            <p>strating form</p>
            <p class="price">500€</p>
          </div>
          <div class="hover">
            <div class="circle">
              <a class="hover_link" href="#">choose</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="portlet">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h3>template web site</h3>
            </div>
          </div>
          <div class="portlet-body">
            <div class="main">
              <h5>PRESENTATION PACKAGE</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
            </div>
            <hr>
            <p>strating form</p>
            <p class="price">1000€</p>
          </div>
          <div class="hover">
            <div class="circle">
              <a class="hover_link" href="#">choose</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="portlet">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h3>unique <br>web site</h3>
            </div>
          </div>
          <div class="portlet-body">
            <div class="main">
              <h5>PORTFOLIO PACKAGE</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
            </div>
            <hr>
            <p>strating form</p>
            <p class="price">5000€</p>
          </div>
          <div class="hover">
            <div class="circle">
              <a class="hover_link" href="#">choose</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="portlet">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h3>mobile application</h3>
            </div>
          </div>
          <div class="portlet-body">
            <div class="main">
              <h5>SIMPLE APPLICATION</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
            </div>
            <hr>
            <p>strating form</p>
            <p class="price">4000€</p>
          </div>
          <div class="hover">
            <div class="circle">
              <a href="#">choose</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="portlet">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h3>web hosting, service & maintenance</h3>
            </div>
          </div>
          <div class="portlet-body">
            <div class="main">
              <h5>STARTUP PAKET</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
            </div>
            <hr>
            <p>strating form</p>
            <p class="price">50€ <span>/month</span></p>
          </div>
          <div class="hover">
            <div class="circle">
              <a class="hover_link" href="#">choose</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="portlet">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h3>CONVERTING PSD TO HTML</h3>
            </div>
          </div>
          <div class="portlet-body">
            <div class="main">
              <h5>BASIC PAKET</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
            </div>
            <hr>
            <p>strating form</p>
            <p class="price">200€</p>
          </div>
          <div class="hover">
            <div class="circle">
              <a class="hover_link" href="#">choose</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="portlet">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h3>design and coding email template</h3>
            </div>
          </div>
          <div class="portlet-body">
            <div class="main">
              <h5>BASIC PAKET</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
            </div>
            <hr>
            <p>strating form</p>
            <p class="price">4999€</p>
          </div>
          <div class="hover">
            <div class="circle">
              <a class="hover_link" href="#">choose</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="portlet">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h3>seo optimisation</h3>
            </div>
          </div>
          <div class="portlet-body">
            <div class="main">
              <h5>BASIC PAKET</h5>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when</p>
            </div>
            <hr>
            <p>strating form</p>
            <p class="price">200€ <span>/month</span></p>
          </div>
          <div class="hover">
            <div class="circle">
              <a href="#">choose</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>