<header>
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav pull-right">
        <li class="active">
          <a href="#">početna</a>
        </li>
        <li>
          <a href="#">paketi i cijene</a>
        </li>
        <li>
          <a href="#">zašto mi</a>
        </li>
        <li>
          <a href="#">official web site</a>
        </li>
        <li>
          <a href="#">ORDER NOW</a>
        </li>
      </ul>
    </div>
    <div class="logo">
      <a href="#">
        <img src="/assets/logo.png" alt="Logo">
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</header>